body{
    background-color:skyblue;
    margin:0;
    padding:0;
    font-family: Roboto, sans-serif;
    line-height:15px;
    font-size: 15px;
}
.root {
    width: 1000px;
    margin: 100px auto;
  }
.card{
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);
    background-color: white;
}
.item{
    box-sizing: border-box;
    padding:30px 20px;
    color: #5673d5;
    text-align: center;
    text-decoration: none;
    width: 35%;
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
}
.item-image{
    width:50px;
    margin-bottom: 30px;
}
.item-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  .item-text {
    margin: 20px 0;
    color: #A7A7A7;
  }
  
  .item-value {
    font-size: 30px;
    font-weight: 500;
  }
  
  .item-currency {
    font-size: 14px;
  }
  